#gameDiv{
    font-family: 'Aerial', cursive;
    border: 3px solid;
    border-radius: 20px;
    padding: 8px;
    background-color: lightgrey;
    text-align: center;
}
.choiceBtn{
    line-height: 25px;
    width: 240px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}
#playerText{
    color: blue;
    font-size: 18px;
}
#computerText{
    color: red;
    font-size: 18px;
}
#resultText{
    font-size: 18px;
} 
html{
    background-color: black;
    overflow: hidden;
}

#title{
	border:  1px solid;
	width: 35vw;
    height: 3vh;
    font-size: 18px;
	padding: 0px;
	background-color: black;
	border-color: white;
	box-shadow: 10px 10px 5px black;
	color: white;
	text-shadow: 0px 0px 5px red, 0px -5px 5px yellow;
	text-align: center;
	position: relative;
	left: 440px;
	animation: payframe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	
}

@keyframes payframe{
	50% {transform: scale(0.5,0.5);}
}
@media (max-width: 775px){
    #title{
        width: 24vw;
        padding: 5px;
        position: relative;
	    left: 110px;
        font-size: 13px;
        height: 2vh;
    }
    #gameDiv{
        border: 2px solid;
        border-radius: 30px;
        padding: 2px;
        position: relative;
        right: 2px;
        width: 70vw;
    }
    .choiceBtn{
        line-height: 20px;
        width: 130px;
        font-size: 10px;
    }
    #playerText{
        color: blue;
        font-size: 15px;
    }
    #computerText{
        color: red;
        font-size: 15px;
    }
    #resultText{
        font-size: 15px;
    }  
}

@media (max-width: 591px){
    #title{
        width: 30vw;
        padding: 5px;
        position: relative;
	    left: 130px;
        font-size: 14px;
    }
    #gameDiv{
        border: 2px solid;
        border-radius: 10px;
        padding: 3px;
        position: relative;
        left: 2px;
    }
    .choiceBtn{
        line-height: 15px;
        width: 100px;
        font-size: 10px;
    }
    #playerText{
        color: blue;
        font-size: 12px;
    }
    #computerText{
        color: red;
        font-size: 12px;
    }
    #resultText{
        font-size: 12px;
    }  
}

@media (max-width: 545px){
    #title{
        width: 35vw;
        padding: 5px;
        position: relative;
	    left: 70px;
        font-size: 12px;
    }
    #gameDiv{
        border: 2px solid;
        border-radius: 10px;
        padding: 3px;
        position: relative;
        left: 2px;
    }
    .choiceBtn{
        line-height: 13px;
        width: 100px;
        font-size: 8px;
    }
    #playerText{
        color: blue;
        font-size: 10px;
    }
    #computerText{
        color: red;
        font-size: 10px;
    }
    #resultText{
        font-size: 10px;
    }  
}

@media (max-width: 447px){
    #title{
        width: 23vw;
        padding: 5px;
        position: relative;
	    left: 80px;
        font-size: 8px;
        height: 1vh;
    }
    #gameDiv{
        border: 2px solid;
        border-radius: 7px;
        padding: 3px;
        position: relative;
        left: 2px;
    }
    .choiceBtn{
        line-height: 7px;
        width: 65px;
        font-size: 6px;
    }
    #playerText{
        color: blue;
        font-size: 7px;
    }
    #computerText{
        color: red;
        font-size: 7px;
    }
    #resultText{
        font-size: 7px;
    }  
}

@media (max-width: 404px){
    #title{
        visibility: hidden;
    }
}

@media (max-width: 293px){
    
    #gameDiv{
        border: 2px solid;
        border-radius: 5px;
        padding: 2px;
        position: relative;
        left: 2px;
    }
    .choiceBtn{
        line-height: 4px;
        width: 50px;
        font-size: 4px;
    }
    #playerText{
        color: blue;
        font-size: 5px;
    }
    #computerText{
        color: red;
        font-size: 5px;
    }
    #resultText{
        font-size: 5px;
    } 
}

@media (max-width: 629px) and (min-width: 592px){
    #title{
        visibility: hidden;
    }
}


